html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #f3cbcb;
    color: darkblue;
}
section{
    height: 100vh;
    scroll-snap-align: center ;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px; 
    }

    section {
        height: auto; 
    }
}
